.div1{
    height: 300px;
    width: 500px;
    border: none;
    padding-top: 20px ;
    float: left;
    background-image: linear-gradient(to top, yellow, red);
}

.div2{
    height: 300px;
    width: 500px;
    border: none;
    padding-top: 20px ;
    float: left;
    margin-left: 100px;
    background-image: linear-gradient(to top, yellow, red);
}