.a1{
    padding-left: 650px;
}
.n1{
    color: white;
}
.r1{
    padding-top: 50px;
}
.p1{
    padding-top: 50px;
}
.para{
    float: left;
}
.d2{
    padding-top: 80px;
}
.s1{
    margin-left: 550px;
}
.span1{
    color: white;
    margin-left: 820px;
    font-size: 20px;
}
.span2{
    color: white;
    margin-left: 850px;
    font-size: 20px;
}
.span5{
    color: white;
    margin-left: 550px;
    font-size: 10px;
}